.vscode

# ignore large pdfs
/research/source/**/*.pdf

# ignore auxiliary outputs of latex documents
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.out
*.bbl
*.bcf
*.blg
*.run.xml
*.toc

# just in-case, ignore any CT scans
*.nii.gz

# ignore anything that is stored in the temp directory
/tmp

# python auxiliary files
__pycache__