# ignore large pdfs
/research/source/**/*.pdf

# ignore auxiliary outputs of latex documents
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.out
*.bbl
*.bcf
*.blg
*.run.xml

# ignore anything that is stored in the temp directory

*.nii.gz